<section id="portfolio" class="portfolio sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Portfolio</h2>
            <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et
                autem uia reprehenderit sunt deleniti</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
            data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
            <div class="row gy-4 portfolio-container">
                {{#each caches as |cache|}}

                <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <a href="assets/img/portfolio/app-1.jpg" data-gallery="portfolio-gallery-app"
                            class="glightbox"><img src="assets/img/portfolio/app-1.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4><a href="/cache/{{id}}" title="More Details">{{name}}</a></h4>
                            <p>Location: {{lat}},{{lon}}</p>
                            <p>Hidden by: {{user.username}}</p>
                        </div>
                    </div>
                </div>

                {{/each}}
            </div>
        </div><!-- End Portfolio Container -->

    </div>

    </div>
</section>