<section>
  <div class="container">

    <div class="position-relative">
      <div>
        <div class="align-items-center">

          <div>
            <div id="selected-map"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="row justify-content-between gy-4 mt-4">

      <div class="col-lg-8">
        <div class="portfolio-description">
          <h2>{{cache.name}}</h2>
          <p>
            {{cache.description}}
          </p>
          {{#if loggedIn}}
          <button type="submit" class="btn btn-primary">Found it!</button>
          {{/if}}
        </div>
      </div>

      <div class="col-lg-3">
        <div class="portfolio-info">
          <h3>Cache Info:</h3>
          <ul>
            <li><strong>Cache Name:</strong> <span>{{cache.name}}</span></li>
            <li><strong>Latitude</strong> <span id="lat">{{cache.lat}}</span></li>
            <li><strong>Longitude</strong> <span id="lon">{{cache.lon}}</span></li>
            <li><strong>Hidden Since:</strong> <span>{{format_date cache.createdAt}}</span></li>
            <li><strong>Difficulty: </strong>{{cache.difficulty}}</li>
            <li><strong>Hidden By: </strong>{{cache.user.username}}</li>
            <li><strong>Times Found: </strong>{{timesFound}}</li>
            <li><strong>Found By: </strong></li>
            {{#each finders}}
            <li> {{user.username}} </li>{{/each}}
          </ul>
        </div>
      </div>

    </div>

  </div>
</section>

<script src="/assets/js/maps/expandedDetailsMap.js"></script>